@using AppDomainCore.CustomersRequests.Entity
@model CustomersRequest
@{
    ViewData["Title"] = "پیازچه > مدیریت درخواست ها > درخواست ";
}
<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    درخواست
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">

            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th class="p-low"><input type="checkbox" id="btn-check-all-toggle"></th>
                                <th>#</th>
                                <th>نام خدمت</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                                <th>عملیات</th>
                                <th>عملیات</th>
                                <th>عملیات</th>
                                <th>عملیات</th>
                                <th>عملیات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>@Model.Id</td>
                                <td>@Model.Work.Title</td>
                                <td>@Model.Status.ToString()</td>
                                <td>@Model.Customer.User.FirstName</td>
                                <td>@Model.Customer.User.LastName</td>
                                <td>@Model.CreateAt</td>
                                <td>@Model.DateWork</td>
                                <td>
                                    @foreach (var item in Model.Work.Experts)
                                    {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.User.FirstName</td>
                                    <td>@item.User.LastName</td>
                                </tr>
                                    }
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
